<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome{% endblock %}</title>

        {% block stylesheets %}
            <script src=""></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <p>First title</p>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
