{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() ~ ' Home' }}
{% endblock %}

{% block body %}
    {{ parent() }}

<h1>cours de {{ name }}</h1>

<p>list of tutorials</p>
<ul>
    {% for tutorial in tutorials %}
       <li>{{ tutorial }}</li>
    {% endfor %}

</ul>

{% endblock %}